<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ formtitle }} | makeme.short</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/build.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="antialiased bg-midnight-green">
    <div class="w-5/6 mx-auto">
        <div class="text-center pt-8">
            <h1 class="text-med-turq tracking-wider text-lg font-bold">makeme.short</h1>
        </div>

        <!-- main form -->
        <div class="w-11/12 sm:w-5/6 md:w-2/3 lg:w-1/2 xl:w-2/5 pt-4 sm:pt-6 lg:pt-8 mx-auto" x-data="{ formTab: 'login' }">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="mb-4 bg-{{ category }}-600 px-3 py-2 rounded text-center">
                        <p class="font-light tracking-wider text-white text-sm">{{ message }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        {% block form %}
            
        {% endblock %}
        </div>
    </div>

    {% if formtitle == 'Login' %}
        <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    {% elif formtitle == 'Reset Password' %}
        <script type="text/javascript">
        const btnUpPassword = document.getElementById('btnUp-newpass');
        const inputPassword = document.getElementById('enter-new-password');
        const inputConPassword = document.getElementById('enter-confirm-new-password');

        // form validaation styles
        const disableBtnForm = ['opacity-75', 'cursor-not-allowed'];
        const enabledBtnForm = ['opacity-100', 'cursor-pointer', 'hover:bg-med-turq'];


        inputPassword.oninput = function(){
            if ((inputPassword.value.length > 7) && (inputPassword.value.length != 0)){
                showValid(inputPassword);
                if ((inputPassword.value.length > 7) && (inputConPassword.value == inputPassword.value)){
                    btnUpPassword.disabled = false;
                    btnUpPassword.classList.remove(...disableBtnForm);
                    btnUpPassword.classList.add(...enabledBtnForm);
                }
                else{
                    btnUpPassword.disabled = true;
                    btnUpPassword.classList.add(...disableBtnForm);
                    btnUpPassword.classList.remove(...enabledBtnForm);
                }
            }
            else{
                showError(inputPassword, 'Password is too short!')
            }
        }
        inputConPassword.oninput = function(){
            if ((inputConPassword.value == inputPassword.value) && (inputConPassword.value.length > 7)){
                showValid(inputConPassword);
                if ((inputPassword.value.length > 7) && (inputConPassword.value == inputPassword.value)){
                    btnUpPassword.disabled = false;
                    btnUpPassword.classList.remove(...disableBtnForm);
                    btnUpPassword.classList.add(...enabledBtnForm);
                }
                else{
                    btnUpPassword.disabled = true;
                    btnUpPassword.classList.add(...disableBtnForm);
                    btnUpPassword.classList.remove(...enabledBtnForm);
                }
            }
            else{
                showError(inputConPassword, 'Passwords are not equal!')
            }
        }

        function showError(tb, errMessage){
            const inputContainer = (tb.parentElement).parentElement;
            const errorContainer = inputContainer.querySelector('.error');
            const errMsgContainer = inputContainer.querySelector('p');
            const errIcon = inputContainer.querySelector('#icError');
            const valIcon = inputContainer.querySelector('#icCheck');
            
            tb.classList.add('border-red-600');
            tb.classList.remove('border-med-turq');
            errorContainer.classList.remove('hidden'); // show the error
            errMsgContainer.innerText = errMessage; // replace error message
            errIcon.classList.remove('invisible'); // show error icon
            valIcon.classList.add('invisible'); // hide the check icon
        }
        function showValid(tb){
            const inputContainer = (tb.parentElement).parentElement;
            const errorContainer = inputContainer.querySelector('.error');
            const errIcon = inputContainer.querySelector('#icError');
            const valIcon = inputContainer.querySelector('#icCheck');
            
            tb.classList.remove('border-red-600');
            tb.classList.add('border-med-turq');
            errorContainer.classList.add('hidden'); // hide the error
            errIcon.classList.add('invisible'); // hide error icon
            valIcon.classList.remove('invisible'); // show the check icon
        }

        window.onload = function(){
            btnUpPassword.disabled = true;
        }
        </script>
    {% endif %}
</body>
</html>